custom_vehicle/src/flows.json
[{"id":"1e44eb9d.d2cdbc","type":"tab","label":"ROS com"},{"id":"6c087cc2.9d4424","type":"debug","z":"1e44eb9d.d2cdbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"b56c6a5f.10153","type":"ros-publish","z":"1e44eb9d.d2cdbc","server":"8612a28d.9b422","topicname":"/sec","msgtype":"std_msgs/String","x":510,"y":280,"wires":[]},{"id":"9353e36d.e9c2a8","type":"ros-subscribe","z":"1e44eb9d.d2cdbc","server":"8612a28d.9b422","topicname":"/sec","x":150,"y":440,"wires":[["6c087cc2.9d4424"]]},{"id":"cc21811.d6e6a","type":"ros-subscriber","z":"1e44eb9d.d2cdbc","topicname":"/first","typepackage":"std_msgs","typename":"String","x":150,"y":600,"wires":[["6c087cc2.9d4424"]]},{"id":"92af545f.8b35f","type":"ros-publisher","z":"1e44eb9d.d2cdbc","topicname":"/first","typepackage":"std_msgs","typename":"String","x":510,"y":200,"wires":[]},{"id":"a84f40e8.a2413","type":"ui_button","z":"1e44eb9d.d2cdbc","name":"","group":"5db0c70d.3e008","order":0,"width":0,"height":0,"passthru":false,"label":"button1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"data\":\"Hey from button 1!\"}","payloadType":"json","topic":"","x":150,"y":200,"wires":[["92af545f.8b35f"]]},{"id":"d501dcea.a33488","type":"ui_button","z":"1e44eb9d.d2cdbc","name":"","group":"5db0c70d.3e008","order":1,"width":0,"height":0,"passthru":false,"label":"button2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hey from button 2!","payloadType":"str","topic":"","x":150,"y":280,"wires":[["b56c6a5f.10153"]]},{"id":"8612a28d.9b422","type":"ros-server","z":"","url":"ws://0.0.0.0:9090"},{"id":"5db0c70d.3e008","type":"ui_group","z":"","name":"First Tab","tab":"b632d728.ad1f2","order":1,"disp":true,"width":"6","collapse":false},{"id":"b632d728.ad1f2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
